/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and General Styling */
body {
    	font-family: Helvetica;
    	line-height: 1.6;
    	background-color: var(--darkblue);
	text-align: left;
}

html * {
  	font-family: Helvetica, sans-serif;
}

:root {
  --purple: #734B5E;
  --white: #ffffff;
  --darkblue: #13192A;
  --grey: #474848;
  --grey_hover: #CBCDCD;
  --lightblue: #8E9FCC;
}

/* Header Styling */
.header {
    display: flex; /* Use flexbox for the header */
    flex-direction: column; /* Stack title and nav vertically */
    height: 22vh; /* Set height of the header (can adjust as needed) */
    background-color: var(--purple); /* Background color of header */
    position: relative; /* Position for absolute nav */
}

.page-titel {	
	display: flex;
  	justify-content: left;
  	align-items: left;
	height:16vh;
	padding-left:30px;
	color:white;
}

#title-img {
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
	position:absolute;
	right:0;
	top:0;
	height:22vh;
  }

  @media only screen and (max-width: 600px) {
	#title-img {
		height:16vh;
		width:100%;
		filter: opacity(0.4);
		mask-image:none;
		z-index:0;
		object-fit: cover; /* Ensures the image is cropped to fit the container without distortion */
		object-position: center; /* You can adjust this to show the part of the image you want, e.g. top, bottom, etc. */
	}
  }


#titletitle {
	align-self:flex-end;
	font-size:4vmax;
	z-index:1;
}

.navbar ul{
	list-style-type:none;
	background-color:var(--grey);
	padding: 0px;
	margin:0px;
	overflow: hidden;
}

.navbar a{
	color: black;
	text-decoration: none;
	background-color: var(--grey_hover);
	height:6vh;
	min-width:6vw;
	line-height:6vh;
	display:block;
	text-align: center;
	font-size: 2vh;
	padding-left: 1vw;
	padding-right: 1vw;
}

.navbar a:hover{
	background-color: var(--grey);
	color: var(--white);
	height:6vh;
}

.navbar li {
	float: left;
	height: 6vh;
}

.semester {
	grid-area: semester;
	justify-self: start;
	height: 5vh;
 	width: 10vw;
	min-height:30px;
	min-width:150px;
  	padding: 0px; 
	color: white;
	background: var(--purple);
	align-self:center;

	/* Flexbox properties to center text */
	display: flex;
    	justify-content: center; /* Horizontally center */
    	align-items: center; /* Vertically center */

}

.themenbloecke {
 	height: 200px;
 	width: 45vw;
	min-width: 300px;
  	padding: 0px; 
	color: white;
	transition: border 0.2s ease;
}

.title-block {
	background-color: var(--purple); /* Change the background color to what you like */
    	color: white;
    	padding: 0px;
	display:flex;
    	align-items: center;
    	justify-content: center;
   	text-align: center;
	height:30%;	
}

.title_themenblöcke {
    line-height:100%;
	font-size:1.5vmax;
    font-weight: bold;
}

.bottom-block {
    background-color: #FFFFFF;
	height:70%;
}

.bottom-block img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image is cropped to fit the container without distortion */
    object-position: center; /* You can adjust this to show the part of the image you want, e.g. top, bottom, etc. */
    transition: filter 0.6s ease; /* Smooth transition for hover effect */
	filter: opacity(1);
}


.themenbloecke:hover .bottom-block img{
    	filter: opacity(0.6); /* Restore the normal brightness */
}

.sidenav {
	position: fixed; /* Keeps the sidebar fixed in place */
  display: none;
  height: 100%;
  width: 630px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
	padding-bottom: 100px;
	overflow-y: auto;
    backdrop-filter: blur(60px); /* Blur effect */
    -webkit-backdrop-filter: blur(40px); /* For Safari support */
}

.sidenav a {
	padding-left: 25px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}



.container_1{
	z-index: 1;
	margin-left:2vw;
	margin-right:2vw;
	margin-top:2vh;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto; 
  gap: 30px 30px; 
  grid-template-areas: 
    "semester ."
    "Item-1 Image-1"
    "Item-2 Image-2"
    "Item-3 Image-3"; 
	overflow-x:auto;
	overflow-y: hidden;
	height:100%;
}

.semester { grid-area: semester; }
#grundlagen { grid-area: Item-1; }
#atmung { grid-area: Item-2; }
#herz { grid-area: Item-3; }
#mindmap_grundlagen { grid-area: Image-1;}
#mindmap_atmung {grid-area: Image-2;}
#mindmap_herz {grid-area: Image-3;}

.container_2{
	z-index: 1;
	margin-left:2vw;
	margin-right:2vw;
	margin-top:2vh;
  	display: grid; 
  	grid-template-columns: 1fr 1fr; 
  	grid-template-rows: auto; 
  	gap: 30px 30px; 
  	grid-template-areas: 
    "semester ."
    "Item-4 ."
    "Item-5 ."
    "Item-6 ."
	"Item-7 ."; 
	overflow-x:auto;
	overflow-y: hidden;
	height:100%;
}

#block_4 {grid-area: Item-4;
border: solid var(--purple);}
#block_5 {grid-area: Item-5;
border: solid var(--purple)}
#block_6 {grid-area: Item-6;
border: solid var(--purple);}
#block_7 {grid-area: Item-7;
border: solid var(--purple)}

h3 {
	margin-top:20px;
	margin-left:0px;
	margin-right: 20px;
	color:#e07b8f;
}

.sidenav h2{
	color: #76A6BC;
	border: solid #76A6BC;
	padding-left: 20px;
	margin-bottom: 20px;
}

.Woche{
	margin-left: 20px;
	margin-right:20px;
	margin-top:45px;
}

.title-vorlesungen {
	padding-left: 20px;
	color: #e07b8f;
}

#link {
	color:white;
	margin-left:30px;
}

#link:hover {
	color:#75C3FA;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
  }
  
  /* Caption of Modal Image */
  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }

  /* Add Animation */
.modal-content, #caption {  
	animation-name: zoom;
	animation-duration: 0.6s;
  }

 .modal-img {
	cursor: pointer;
	transition: 0.3s;
	width: 50%;
	min-width:200px;
    height: 200px;
    object-fit: cover; /* Ensures the image is cropped to fit the container without distortion */
    object-position: center; /* You can adjust this to show the part of the image you want, e.g. top, bottom, etc. */
  }

  @keyframes zoom {
	from {transform: scale(0.1)} 
	to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }





/* Main Content Styling */
main {
    margin:20px;
    text-align: left;
}
